{% extends "auctions/layout.html" %}
{% load static %} 

{% block title %}Watchlist{% endblock %}

{% block body %}
    {% if message %}
    <div class="alert alert-{{msg_type}}">{{ message }}</div>
    {% endif%}
    <h1>Categories</h1>
    <ul class="list-group">
        <a href="{% url 'category' 'fashion' %}"><li class="list-group-item"><i class="fas fa-tshirt mr-5"></i> Fashion</li></a>
        <a href="{% url 'category' 'tools' %}"><li class="list-group-item"><i class="fas fa-gavel mr-5"></i> Tools</li></a>
        <a href="{% url 'category' 'toys' %}"><li class="list-group-item"><i class="fas fa-dice mr-5"></i> Toys</li></a>
        <a href="{% url 'category' 'electronics' %}"><li class="list-group-item"><i class="fas fa-laptop mr-5"></i> Electronics</li></a>
        <a href="{% url 'category' 'accessories' %}"><li class="list-group-item"><i class="fas fa-headset mr-5"></i> Accessories</li></a>
        <a href="{% url 'category' 'books' %}"><li class="list-group-item"><i class="fas fa-book-open mr-5"></i> Books</li></a>
    </ul>
{% endblock %}